:root { 
--gray_700:#68696d; 
--blue_gray_100:#cccccc; 
--blue_700:#0f6fdf; 
--red_700:#db3236; 
--lime_600:#c6b33c; 
--amber_500:#f4c20d; 
--light_blue_A200:#45e7fc; 
--lime_900:#686f01; 
--blue_A200:#4885ed; 
--green_700:#2b9d31; 
--green_500:#3cba54; 
--green_400:#57af79; 
--teal_400:#1aabb0; 
--indigo_400:#486aae; 
--black_900:#000000; 
--blue_A200_01:#5084dc; 
--red_700_01:#dd3224; 
--indigo_900:#00009b; 
--deep_purple_A700:#8316d8; 
--red_A700:#d90c0c; 
--white_A700:#ffffff; 
}